a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  min-width: 160px;
  height: 40px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  font-weight: 600;
  font-size: 3vw;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  transition: background-color 200ms linear, color 200ms linear;
}
@media screen and (min-width: 480px) {
  .btn {
    font-size: 12px;
  }
}
.btn:hover, .btn:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.btn-dark {
  color: #ffffff;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: absolute;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 58px;
}
@media screen and (min-width: 1200px) {
  .header-nav {
    gap: 131px;
  }
}

.icon-logo {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .icon-logo {
    fill: #303030;
  }
}

.header-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    gap: 40px;
    flex-direction: column-reverse;
    row-gap: 20px;
  }
}

.header-tel {
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  display: block;
  margin-bottom: 30px;
}

.mobile-menu {
  width: 70vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.container-menu {
  padding: 48px 31px 48px 40px;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.icon-close {
  fill: #303030;
}

.mobile-list-item {
  margin-bottom: 24px;
}

.mobile-list-link {
  font-weight: 600;
  font-size: 5vw;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #303030;
}
@media screen and (min-width: 480px) {
  .mobile-list-link {
    font-size: 18px;
  }
}

.mob-menu-tel {
  margin-bottom: 24px;
  display: block;
  font-weight: 600;
  font-size: 4vw;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
@media screen and (min-width: 480px) {
  .mob-menu-tel {
    font-size: 18px;
  }
}

.contacts-wrap {
  margin-bottom: 76px;
}

.menu-soc-list {
  position: relative;
  padding-left: 72px;
}
@media screen and (min-width: 480px) {
  .menu-soc-list {
    padding-left: 100px;
  }
}

.menu-soc-list::before {
  position: absolute;
  left: 0;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  top: 9px;
}

.menu-soc-item:not(:last-child) {
  margin-bottom: 24px;
}

.menu-soc-link {
  font-weight: 600;
  font-size: 4vw;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: #303030;
}
@media screen and (min-width: 480px) {
  .menu-soc-link {
    font-size: 14px;
  }
}

.hero-container {
  display: flex;
  padding: 0;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hero-soc-wrap {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 27px;
}

.hero-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-list {
    display: flex;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    align-items: center;
    gap: 40px;
  }
}
.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-soc-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 200ms linear;
}
.hero-soc-link:hover, .hero-soc-link:focus {
  color: #ff6c00;
}

.hero-text-wrap {
  flex-grow: 1;
  padding: 208px 31px;
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-text-wrap {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero-text-wrap {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-text-wrap {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero-text-wrap {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-desk.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero-text-wrap {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg-desk-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-text-wrap {
    padding: 272px 97px 237px 97px;
  }
}

.hero-pretitle {
  font-weight: 600;
  font-size: 2vw;
  line-height: 1.36px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-pretitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
@media screen and (min-width: 480px) {
  .hero-pretitle {
    font-size: 11px;
  }
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 10vw;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 48px;
  }
}

.hero-text {
  font-size: 3vw;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 205px;
}
@media screen and (min-width: 480px) {
  .hero-text {
    font-size: 16px;
    max-width: 321px;
  }
}

.current-link {
  color: #ff6c00;
}/*# sourceMappingURL=main.css.map */