.header {
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    width: 100%;
    @include desktop {
        padding-right: 17px;
    }
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 58px;
    @include desktop {
        gap: 131px;
    }
}
.logo {
}
.icon-logo {
    fill: $mainwhiteColor;
    @include tablet {
        fill: $titleColor;
    }
}
.header-list {
    display: none;
    @include tablet {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}
.header-item {
}
.header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33px;
    letter-spacing: 0.1em;
    color: $mainwhiteColor;
}
.header-contacts {
    display: none;
    @include tablet {
        display: flex;
        gap: 40px;
        flex-direction: column-reverse;
        row-gap: 20px;
    }
    @include desktop {
        flex-direction: row;
        align-items: center;
    }
}
.header-tel {
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $mainwhiteColor;
}
.menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    fill: $mainwhiteColor;
    @include tablet {
        display: none;
    }
}
//Momile menu-----------------//
.menu-close {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: auto;
    display: block;
    margin-bottom: 30px;
}
.mobile-menu {
    width: 70vw;
    height: 100vh;
    background-color: $mainwhiteColor;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    @include tablet {
        display: none;
    }
}
.container-menu {
    padding: 48px 31px 48px 40px;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.icon-close {
    fill: $titleColor;
}

.mobile-list-item {
    margin-bottom: 24px;
}
.mobile-list-link {
    font-weight: 600;
    font-size: 5vw;
    line-height: 1.4;
    letter-spacing: 0.1em;
    color: $titleColor;
    @include mobile {
        font-size: 18px;
    }
}

.mob-menu-tel {
    margin-bottom: 24px;
    display: block;
    font-weight: 600;
    font-size: 4vw;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $titleColor;
    @include mobile {
        font-size: 18px;
    }
}
.contacts-wrap {
    margin-bottom: 76px;
}
.menu-soc-list {
    position: relative;
    padding-left: 72px;
    @include mobile {
        padding-left: 100px;
    }
}
.menu-soc-list::before {
    position: absolute;
    left: 0;
    content: '';
    width: 60px;
    height: 1px;
    background-color: #303030;
    top: 9px;
}
.menu-soc-item:not(:last-child) {
    margin-bottom: 24px;
}
.menu-soc-link {
    font-weight: 600;
    font-size: 4vw;
    line-height: 1.4;
    letter-spacing: 0.2em;
    color: $titleColor;
    @include mobile {
        font-size: 14px;
    }
}
